{
  "openapi": "3.0.1",
  "info": {
    "title": "Brooklyn Client Ref",
    "version": "1.2.0",
    "description": "Client API endpoints for the Synamedia Brooklyn Video Platform"
  },
  "servers": [
    {
      "url": "http://mocksvc.mulesoft.com/mocks/98ab62f4-7247-4d92-b0a1-5cacd9c75035/mocks/cd12e66f-f17e-4a23-a324-5ecde44a79a4/mocks/48d69949-b4c5-4eb4-a7c9-39794d76ed36"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Retrieve the version of the API",
        "operationId": "GET_root",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "apiVersion": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "apiVersion"
                  ],
                  "x-examples": {
                    "example-1": {
                      "apiVersion": "0.2.0"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resources/customization": {
      "get": {
        "description": "This API is deprecated. The 3 new APIs resources/initial + shared/resources/uisettings and shared/resources/dictionary should be used instead.\nGet a set of UI configurations to be applied in the app. These are app configs, hosted in the server.\nRelevant only for Synamedia apps.\nThis shall be the first call that the application makes to the refAPI.\nThe response may contain httpCookies which should then be passed to every subsequent refAPI invocation.\nTherefore all subsequent app-boot calls to ctap must be sent out only after the response to this call has been received.\n",
        "operationId": "GET_resources-customization",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Identifies the requested response language. This should be an ISO 639-1 two letter code. Subcodes (like en-GB) are aslo supported.\nGive this header in GET methods where the response can be returned in different natural languages.\nnote: if the x-response-lang header is also given, its value will take precedence over the value of this header.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "x-response-lang",
            "in": "header",
            "description": "Identifies the requested response language. This should be an ISO 639-1 two letter code. Subcodes (like en-GB) are aslo supported.\nGive this header in GET methods where the response can be returned in different natural languages.\nThis header is supported in addtion to the standard 'Accept-Language' header. If both are given, the value in this header will be used.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "clientDictionaryDate",
            "in": "query",
            "description": "When given, and when the feature is enabled in server-side configuration, the set of dictionary keys + values to be used in the app will be included in the response (see the 'dictionary' field of the response schema). The language of the dictionary in the response is set according to the given language header. If there is no dictionary available for the requested language, no dictionary will be set in the response. This should be a ISO 8601 compliant UTC date time indicating the latest timestamp of the dictionary for this language currently stored in client persistent storage. It should be set according to the value of the dictionary->updateDate field from the previous resources/customization dictionary response for this language. Can be set to 0 in order to force dictionary retrieval, or when no dictionary has yet been stored for the current language.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "resourceType": "configuration",
                    "uiConfigurations": {
                      "uiSchema": "productK",
                      "TABLET": {
                        "onVideo": {
                          "unfocusColor": "#ffffffff",
                          "progressBar": {
                            "foregroundColor": "#ffffffff",
                            "backgroundColor": "#FF3C3C3C",
                            "cursorColor": "#ffffffff"
                          },
                          "button": {
                            "foregroundColor": "#ffffffff",
                            "backgroundColor": "#00000000",
                            "foregroundColorSelected": "#ff000000",
                            "backgroundColorSelected": "#ffffffff"
                          },
                          "dimmerTransparencyLevel": 0.5
                        },
                        "onStatusBar": {
                          "unfocusColor": "#B3EBEBEB",
                          "focusColor": "#FFEBEBEB",
                          "background": {
                            "colorFrom": "#ff000000",
                            "colorTo": "#ff000000",
                            "orientation": "horizontal"
                          }
                        },
                        "onPopup": {
                          "unfocusColor": "#90EBEBEB",
                          "pressColor": "#FFEBEBEB",
                          "background": {
                            "colorFrom": "#FF424242",
                            "colorTo": "#FF424242",
                            "orientation": "horizontal"
                          }
                        },
                        "popupMenu": {
                          "foregroundColor": "#ffebebeb",
                          "backgroundColor": "#ffffffff",
                          "backgroundColorSelected": "#ff646464"
                        },
                        "gestures": {
                          "zappingDirection": "natural"
                        },
                        "logo": {
                          "url": "http://appivps3.s3-ap-south-1.amazonaws.com/Appdata/CD/application_logo.png",
                          "positionX": 48,
                          "positionY": 13,
                          "width": 64,
                          "height": 34,
                          "display": "YES",
                          "usePosition": true
                        },
                        "font_config": {
                          "fonts": [
                            {
                              "languages": [
                                "en",
                                "de",
                                "fr",
                                "ru",
                                "pt"
                              ],
                              "font-family": "Roboto",
                              "weights": {
                                "Lt": "file://Roboto-Light.ttf",
                                "Rg": "file://Roboto-Regular.ttf",
                                "Md": "file://Roboto-Medium.ttf",
                                "Bd": "file://Roboto-Bold.ttf",
                                "Blk": "file://Roboto-Black.ttf",
                                "Icons": "file://IVPIcons-Regular.ttf",
                                "BdIt": "file://Roboto-BoldItalic.ttf",
                                "BlkIt": "file://Roboto-BoldItalic.ttf",
                                "MdIt": "file://Roboto-ThinItalic.ttf",
                                "Input": "file://Roboto-Light.ttf"
                              }
                            },
                            {
                              "languages": [
                                "he",
                                "iw",
                                "ar"
                              ],
                              "font-family": "Noto Sans",
                              "weights": {
                                "Lt": "file://NotoSans-Light.ttf",
                                "Rg": "file://NotoSans-Regular.ttf",
                                "Md": "file://NotoSans-Medium.ttf",
                                "Bd": "file://NotoSans-Bold.ttf",
                                "Blk": "file://NotoSans-Black.ttf",
                                "Icons": "file://IVPIcons-Regular.ttf",
                                "BdIt": "file://NotoSans-BoldItalic.ttf",
                                "BlkIt": "file://NotoSans-BlackItalic.ttf",
                                "MdIt": "file://NotoSans-MediumItalic.ttf",
                                "Input": "file://NotoSans-Light.ttf"
                              }
                            }
                          ]
                        },
                        "menuConfiguration": {
                          "settingsMenuItems": [
                            "PREFERENCES",
                            "DEVICE_MANAGEMENT",
                            "MY_DEVICES",
                            "HELP",
                            "LOGOUT"
                          ],
                          "filterMenuItems": {
                            "LIBRARY": [
                              "MOVIES_AND_SHOW",
                              "NEXT_TO_SEE",
                              "RENTALS",
                              "SERIES_RECORDINGS",
                              "MANAGE_RECORDINGS",
                              "WATCHLIST",
                              "MY_DOWNLOADS"
                            ],
                            "STORE": [
                              "PROMOTION",
                              "FOR_YOU"
                            ],
                            "TELEVISION": [
                              "PROMOTION",
                              "FOR_YOU",
                              "MOST_POPULAR",
                              "FAVORITE_CHANNELS",
                              "ON_AIR"
                            ]
                          },
                          "hubTopItems": [
                            "TELEVISION",
                            "LIBRARY",
                            "STORE",
                            "GUIDE",
                            "SETTINGS"
                          ]
                        },
                        "guideConfiguration": {
                          "guideDaysCount": {
                            "guideForwardGridDaysCount": 7,
                            "guideReverseGridDaysCount": 7
                          },
                          "progIndicatorBackgroundGradient": {
                            "colorFrom": "#ff7DC145",
                            "colorTo": "#ff00A79C",
                            "color3": "#ff244D9D"
                          },
                          "gridCellCurrentBackgroundGradient": {
                            "colorFrom": "#803E3E3E",
                            "colorTo": "#803E3E3E"
                          },
                          "gridCellBackgroundGradient": {
                            "colorFrom": "#803E3E3E",
                            "colorTo": "#803E3E3E"
                          },
                          "channelCellBackgroundGradient": {
                            "colorFrom": "#FF323232",
                            "colorTo": "#ff7DC145"
                          },
                          "gridCellTitleColors": {
                            "unfocusColor": "#99FFFFFF"
                          },
                          "gridCellIconColors": {
                            "unfocusColor": "#80FFFFFF"
                          },
                          "gridCellSeparatorColors": {
                            "unfocusColor": "#FF000000"
                          },
                          "channelCellNumberColors": {
                            "unfocusColor": "#FFFFFFFF"
                          },
                          "channelCellIconColors": {
                            "unfocusColor": "#FFFFFFFF"
                          },
                          "timeHeaderTextColors": {
                            "unfocusColor": "#99FFFFFF"
                          }
                        },
                        "onSearch": {
                          "searchField": {
                            "searchFieldHeight": [
                              36,
                              40
                            ],
                            "searchFieldLeadingSpace": [
                              16,
                              126
                            ],
                            "searchFieldTrailingSpace": [
                              80,
                              126
                            ],
                            "searchBorderWidth": 0
                          },
                          "searchResultsCell": {
                            "searchResultsCellHeight": [
                              53,
                              41
                            ]
                          }
                        },
                        "onZapList": {
                          "container": {
                            "background": {
                              "colorFrom": "#FF000000",
                              "colorTo": "#FF1f212d",
                              "orientation": "vertical"
                            }
                          },
                          "logo": {
                            "background": {
                              "colorFrom": "#FF323232",
                              "colorTo": "#FF1f212d",
                              "orientation": "vertical"
                            }
                          },
                          "itemExpanded": {
                            "background": {
                              "colorFrom": "#FF1F1F1F",
                              "colorTo": "#FF1f212d",
                              "orientation": "vertical"
                            }
                          },
                          "itemCollapsed": {
                            "background": {
                              "colorFrom": "#ff1F1F1F",
                              "colorTo": "#FF2a2e3b",
                              "orientation": "vertical"
                            }
                          },
                          "zapListProgressBar": {
                            "foregroundColor": "#FF323232",
                            "backgroundBefore": "#ff1F1F1F",
                            "backgroundAfter": "#406f6e6e",
                            "cursor": "#ff1f212d"
                          }
                        },
                        "settings": {
                          "headerview": {
                            "backgroundColor": "#803E3E3E",
                            "background": {
                              "colorFrom": "#00000000",
                              "colorTo": "#00000000",
                              "orientation": "vertical"
                            },
                            "borderColor": "#33979797",
                            "titleColor": "#ffffffff",
                            "backTitleColor": "#ffEBEBEB",
                            "menuTitleColor": "#ffffffff"
                          },
                          "menu": {
                            "menuItem": {
                              "unfocusColor": "#B3EBEBEB",
                              "focusColor": "#FFEBEBEB"
                            },
                            "focus": {
                              "foregroundColor": "#ffffffff",
                              "backgroundColor": "#ff3E3E3E"
                            },
                            "unfocus": {
                              "foregroundColor": "#ffffffff",
                              "backgroundColor": "#00000000"
                            },
                            "backgroundColor": "#803E3E3E",
                            "background": {
                              "colorFrom": "#803E3E3E",
                              "colorTo": "#803E3E3E",
                              "orientation": "vertical"
                            },
                            "headerview": {
                              "background": {
                                "colorFrom": "#00000000",
                                "colorTo": "#00000000",
                                "orientation": "vertical"
                              }
                            },
                            "verticalBorderColor": "#33979797"
                          },
                          "submenu": {
                            "titleColor": "#ffffffff",
                            "subTitleColor": "#B3ffffff",
                            "optionColor": "#B3EBEBEB",
                            "seperatorColor": "#33979797",
                            "button": {
                              "borderColor": "#00000000",
                              "backgroundColor": "#1Affffff",
                              "borderWidth": 1
                            },
                            "backgroundColor": "#803E3E3E",
                            "background": {
                              "colorFrom": "#803E3E3E",
                              "colorTo": "#803E3E3E",
                              "orientation": "vertical"
                            },
                            "focus": {
                              "foregroundColor": "#ffffffff",
                              "switchActiveColor": "#ff4CD964"
                            },
                            "unfocus": {
                              "foregroundColor": "#4Dffffff"
                            }
                          },
                          "termsandcondition": {
                            "titleColor": "#ff030303",
                            "dividerColor": "#BF4D4D4D",
                            "backgroundColor": "#80ffffff",
                            "button": {
                              "unfocus": {
                                "foregroundColor": "#ff007AFF"
                              }
                            }
                          },
                          "pinPopUp": {
                            "backgroundColor": "#ffF7F7F7",
                            "keyboardBackGroundColor": "#E6D2D5DB"
                          }
                        },
                        "onFrame": {
                          "unfocusColor": "#B3EBEBEB",
                          "focusColor": "#ffEBEBEB",
                          "progressBar": {
                            "foregroundColor": "#FFEBEBEB",
                            "backgroundColor": "#FF6E6E6E",
                            "cursorColor": "#FFEBEBEB"
                          },
                          "button": {
                            "focus": {
                              "foregroundColor": "#ffebebeb",
                              "backgroundColor": "#1affffff"
                            },
                            "unfocus": {
                              "foregroundColor": "#ffebebeb",
                              "backgroundColor": "#1affffff"
                            },
                            "borderColor": "#00000000",
                            "borderWidth": 0,
                            "cornerRadius": 0,
                            "foregroundColor": "#ffffffff",
                            "backgroundColor": "#ff000000",
                            "foregroundColorSelected": "#ffffffff",
                            "backgroundColorSelected": "#ffffffff"
                          },
                          "recordButton": {
                            "foregroundColor": "#ffd0141b"
                          },
                          "background": {
                            "colorFrom": "#FF101010",
                            "colorTo": "#FF101010",
                            "orientation": "horizontal"
                          },
                          "eventTimeDurationDisplayFormat": "hh:mm"
                        },
                        "fontStyles": [
                          {
                            "id": "Hero_Banner_Title",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "26",
                                "font-color": "#ffffffff"
                              }
                            }
                          },
                          {
                            "id": "Action_Menu_Title",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "24",
                                "font-color": "#ffffffff"
                              }
                            }
                          },
                          {
                            "id": "Panel_Program_Title",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "24",
                                "font-color": "#ffffffff"
                              }
                            }
                          },
                          {
                            "id": "Binge_Title_Nextepisode_in",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "14",
                                "font-color": "#B3FFFFFF"
                              }
                            }
                          },
                          {
                            "id": "Binge_Title_Sec",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Bold",
                                "font-weight": "",
                                "font-size": "14",
                                "font-color": "#FFFFFFFF"
                              }
                            }
                          },
                          {
                            "id": "Binge_Title_Episode",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "17",
                                "font-color": "#FFFFFFFF"
                              }
                            }
                          },
                          {
                            "id": "Binge_Title_Duration",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "14",
                                "font-color": "#B3EBEBEB"
                              }
                            }
                          },
                          {
                            "id": "Binge_Title_Parental_Rating",
                            "styles": {
                              "en": {
                                "font-family": "IVPIcons-Regular",
                                "font-weight": "",
                                "font-size": "14",
                                "font-color": "#B3FFFFFF"
                              }
                            }
                          }
                        ],
                        "defaultPoster": {
                          "foregroundColor": "#ffffff",
                          "background": {
                            "colorFrom": "#ff365D63",
                            "colorTo": "#ff1C2E49",
                            "orientation": "vertical"
                          }
                        },
                        "onBingeBanner": {
                          "autoPlaySec": 10
                        },
                        "menu": {
                          "background": {
                            "linear-gradient": {
                              "color": [
                                "#00000000",
                                "#00000000"
                              ],
                              "orientation": "vertical"
                            },
                            "image": [
                              {
                                "resolution": "image resolution",
                                "url": "",
                                "docking-point": "top_left"
                              }
                            ]
                          }
                        },
                        "settingsMenuItem": {
                          "left": "0",
                          "right": "37",
                          "width": "44",
                          "height": "44",
                          "isIcon": "true",
                          "isVisible": "false"
                        },
                        "searchMenuItem": {
                          "left": "0",
                          "right": "91",
                          "width": "44",
                          "height": "44",
                          "isIcon": "true",
                          "isVisible": "false"
                        },
                        "actionButtons": [
                          {
                            "id": "regular",
                            "spacing": 8,
                            "height": 81,
                            "width": 70,
                            "background": {
                              "shape": "rectangle",
                              "color": "#1AFFFFFF"
                            }
                          },
                          {
                            "id": "selected",
                            "spacing": 8,
                            "height": 81,
                            "width": 70,
                            "background": {
                              "shape": "rectangle",
                              "color": "#80FFFFFF"
                            }
                          }
                        ],
                        "radioConfig": {
                          "logoUrl": "",
                          "onRadioPlayer": {
                            "background": {
                              "linear-gradient": {
                                "color": [
                                  "#ff365D63",
                                  "#ff1C2E49"
                                ],
                                "orientation": "vertical"
                              },
                              "image": [
                                {
                                  "url": ""
                                }
                              ]
                            }
                          }
                        },
                        "swimlanes": {
                          "maxNoOFItemsPerSwimlane": 10,
                          "channelPageSwimlaneMaxItems": 10
                        },
                        "channelPageConfig": {
                          "catchupDays": 10,
                          "futureDays": 10
                        }
                      },
                      "PHONE": {
                        "logo": {
                          "url": "http://appivps3.s3-ap-south-1.amazonaws.com/Appdata/CD/application_logo.png",
                          "positionX": 156,
                          "positionY": 7,
                          "width": 56,
                          "height": 30,
                          "display": "YES",
                          "usePosition": true
                        },
                        "hamburgerMenu": {
                          "onHamburgerLogo": {
                            "url": "http://appivps3.s3-ap-south-1.amazonaws.com/Appdata/CD/application_logo.png",
                            "positionX": 24,
                            "positionY": 3,
                            "width": 71,
                            "height": 38,
                            "display": "YES",
                            "usePosition": true
                          }
                        },
                        "menuConfiguration": {
                          "filterMenuItems": {
                            "LIBRARY": [
                              "MOVIES_AND_SHOW",
                              "NEXT_TO_SEE",
                              "SERIES",
                              "MANAGE_RECORDINGS",
                              "WATCHLIST",
                              "MY_DOWNLOADS"
                            ],
                            "STORE": [
                              "PROMOTION",
                              "FOR_YOU"
                            ],
                            "TELEVISION": [
                              "PROMOTION",
                              "FOR_YOU",
                              "MOST_POPULAR",
                              "FAVORITE_CHANNELS",
                              "ON_AIR"
                            ]
                          },
                          "hubTopItems": [
                            "TELEVISION",
                            "LIBRARY",
                            "STORE",
                            "GUIDE",
                            "SETTINGS"
                          ]
                        },
                        "onZapList": {
                          "container": {
                            "background": {
                              "colorFrom": "#FF000000",
                              "colorTo": "#FF1f212d",
                              "orientation": "vertical"
                            }
                          },
                          "logo": {
                            "background": {
                              "colorFrom": "#FF323232",
                              "colorTo": "#FF1f212d",
                              "orientation": "vertical"
                            }
                          },
                          "itemExpanded": {
                            "background": {
                              "colorFrom": "#FF202020",
                              "colorTo": "#FF1f212d",
                              "orientation": "vertical"
                            }
                          },
                          "itemCollapsed": {
                            "background": {
                              "colorFrom": "#ff2B2B2B",
                              "colorTo": "#FF2a2e3b",
                              "orientation": "vertical"
                            }
                          },
                          "zapListProgressBar": {
                            "foregroundColor": "#ff3E3E3E",
                            "backgroundBefore": "#ff2B2B2B",
                            "backgroundAfter": "#406f6e6e",
                            "cursor": "#ff1f212d"
                          }
                        },
                        "settings": {
                          "headerview": {
                            "borderColor": "#00000000",
                            "background": {
                              "colorFrom": "#00000000",
                              "colorTo": "#00000000",
                              "orientation": "vertical"
                            }
                          },
                          "submenu": {
                            "button": {
                              "backgroundColor": "#ff161616"
                            },
                            "background": {
                              "colorFrom": "#803E3E3E",
                              "colorTo": "#803E3E3E",
                              "orientation": "vertical"
                            }
                          },
                          "termsandcondition": {
                            "dividerColor": "#00000000",
                            "button": {
                              "unfocus": {
                                "foregroundColor": "#ff007AFF"
                              }
                            }
                          }
                        },
                        "fontStyles": [
                          {
                            "id": "Hero_Banner_Title",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "20",
                                "font-color": "#ffffffff"
                              }
                            }
                          },
                          {
                            "id": "Action_Menu_Title",
                            "styles": {
                              "en": {
                                "font-family": "Roboto-Regular",
                                "font-weight": "",
                                "font-size": "20",
                                "font-color": "#ffffffff"
                              }
                            }
                          }
                        ]
                      },
                      "STB": {
                        "onFrame": {
                          "unfocusColor": "#66ffffff",
                          "focusColor": "#ffffffff",
                          "unselectableColor": "#ffdcdcdc",
                          "progressBar": {
                            "foregroundColor": "#ffffffff",
                            "backgroundBefore": "#ffc8c8c8",
                            "backgroundAfter": "#ffc8c8c8",
                            "cursor": "#ffffffff"
                          }
                        },
                        "offFrame": {
                          "unfocusColor": "#ffffffff",
                          "focusColor": "#ffffffff",
                          "unselectableColor": "#ffdcdcdc",
                          "progressBar": {
                            "foregroundColor": "#ffffffff",
                            "backgroundBefore": "#ffc8c8c8",
                            "backgroundAfter": "#ffc8c8c8",
                            "cursor": "#ffffffff"
                          }
                        },
                        "menuItem": {
                          "backgroundColorFrom": "#00000000",
                          "backgroundColorTo": "#00000000",
                          "gradientOrientation": "vertical",
                          "foregroundColorFocused": "#ffffffff",
                          "foregroundColorUnfocused": "#ffffffff",
                          "foregroundColorSelected": "#ffffffff",
                          "case": "normal"
                        },
                        "frames": {
                          "colorFrom": "#ff000000",
                          "colorTo": "#ff000000",
                          "verticalFrameGradient": "vertical",
                          "horizontalFrameGradient": "horizontal"
                        },
                        "screenSpecificFontGroups": {
                          "clock": {
                            "offFrame": {
                              "unfocus": {
                                "text": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            }
                          },
                          "filter": {
                            "onFrame": {
                              "focus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "freeText": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            },
                            "offFrame": {
                              "focus": {
                                "labelItem": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "labelItem": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            }
                          },
                          "actionmenu": {
                            "onFrame": {
                              "focus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "leftMetadata": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "summary": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            },
                            "offFrame": {
                              "focus": {
                                "labelItem": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "labelItem": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            }
                          },
                          "search": {
                            "onFrame": {
                              "focus": {
                                "keyboardChar": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "suggestionItem": {
                                  "case": "lowercase",
                                  "color": "#ffffffff",
                                  "colorSelection": "#ff707070"
                                }
                              },
                              "unfocus": {
                                "keyboardChar": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "suggestionItem": {
                                  "color": "#ffffffff",
                                  "case": "lowercase"
                                }
                              }
                            },
                            "offFrame": {
                              "unfocus": {
                                "inputTextField": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            }
                          },
                          "timeline": {
                            "onFrame": {
                              "focus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "timelineLabel": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "channelIcon": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "timelineLabel": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "channelNumbers": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            },
                            "offFrame": {
                              "focus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "timelineLabel": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "channelIcon": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "channelNumbers": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            }
                          },
                          "message": {
                            "offFrame": {
                              "focus": {
                                "title": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "action": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "text": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                },
                                "action": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            }
                          },
                          "trickmode": {
                            "onFrame": {
                              "focus": {
                                "trickmodeIconAndSpeed": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "trickmodeIconAndSpeed": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            },
                            "offFrame": {
                              "focus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              },
                              "unfocus": {
                                "titleAndInfo": {
                                  "color": "#ffffffff",
                                  "case": "normal"
                                }
                              }
                            }
                          }
                        },
                        "logo": {
                          "url": "http://phx-media-server.phx.cisco.com/LTVposters/operator-logo.svg",
                          "height": 50,
                          "width": 86,
                          "positionX": 120,
                          "positionY": 55
                        },
                        "videoFilterStyle": "DIMMER",
                        "dimmerTransparencyLevel": 0.5,
                        "highlightStrategy": "historical",
                        "branding": "KV3"
                      }
                    },
                    "iaConfiguration": {
                      "PHONE": {
                        "hubMenuItems": [
                          {
                            "id": "hubHome",
                            "title": {
                              "dictionaryId": "DIC_MAIN_HUB_HOME"
                            },
                            "icon": {
                              "focus": {
                                "url": "file://iamenuhome.png",
                                "width": 72,
                                "height": 72
                              },
                              "unFocus": {
                                "url": "file://iamenuhome.png",
                                "width": 72,
                                "height": 72
                              }
                            }
                          },
                          {
                            "id": "hubTvShows",
                            "title": {
                              "dictionaryId": "DIC_MAIN_HUB_TV_SHOWS"
                            },
                            "icon": {
                              "focus": {
                                "url": "file://iamenutelevision.png",
                                "width": 72,
                                "height": 72
                              },
                              "unFocus": {
                                "url": "file://iamenutelevision.png",
                                "width": 72,
                                "height": 72
                              }
                            }
                          },
                          {
                            "id": "hubMovies",
                            "title": {
                              "dictionaryId": "DIC_MAIN_HUB_MOVIES"
                            },
                            "icon": {
                              "focus": {
                                "url": "file://iamenupopcornBox.png",
                                "width": 72,
                                "height": 72
                              },
                              "unFocus": {
                                "url": "file://iamenupopcornBox.png",
                                "width": 72,
                                "height": 72
                              }
                            }
                          }
                        ],
                        "swimlaneConfig": {
                          "hubHome": {
                            "items": [
                              {
                                "displayType": "heroBanner",
                                "id": "PROMOTION"
                              },
                              {
                                "displayType": "swimlane",
                                "id": "ON_AIR_BY_EVENT"
                              },
                              {
                                "displayType": "swimlane",
                                "id": "RECENTLY_VIEWED_CHANNELS"
                              },
                              {
                                "displayType": "swimlane",
                                "id": "FOR_YOU"
                              },
                              {
                                "displayType": "swimlane",
                                "id": "COMING_UP"
                              },
                              {
                                "title": {
                                  "dictionaryId": "DIC_HUB_HOME_NEW"
                                },
                                "displayType": "swimlane",
                                "contents": [
                                  {
                                    "classification": "node:urn:spvss:ih:kd:term:store:HOME:New"
                                  }
                                ]
                              }
                            ]
                          },
                          "hubTvShows": {
                            "items": [
                              {
                                "displayType": "heroBanner",
                                "resolution": "16:9",
                                "contents": [
                                  {
                                    "classification": "node:urn:spvss:ih:kd:term:store:TV SHOWS:Featured"
                                  }
                                ]
                              },
                              {
                                "displayType": "swimlane",
                                "contents": [
                                  {
                                    "classification": "node:urn:spvss:ih:kd:term:store:TV SHOWS:New"
                                  }
                                ]
                              },
                              {
                                "displayType": "swimlane",
                                "contents": [
                                  {
                                    "classification": "node:urn:spvss:ih:kd:term:store:TV SHOWS:TV Shows Picks"
                                  }
                                ]
                              }
                            ]
                          },
                          "hubMovies": {
                            "items": [
                              {
                                "displayType": "swimlane",
                                "contents": [
                                  {
                                    "classification": "node:urn:spvss:ih:kd:term:store:BOX SETS:Featured"
                                  }
                                ]
                              },
                              {
                                "displayType": "swimlane",
                                "id": "RECENTLY_VIEWED",
                                "filter": {
                                  "genreId": "Movies",
                                  "source": "vod"
                                }
                              },
                              {
                                "displayType": "swimlane",
                                "id": "CHANNELS_FOR_GENRE",
                                "title": {
                                  "dictionaryId": "DIC_FILTER_TV_CHANNELS"
                                },
                                "filter": {
                                  "genreId": "Movies",
                                  "catchupOnly": false
                                }
                              }
                            ]
                          }
                        }
                      },
                      "SMART_TV": {
                        "hubMenuItems": [
                          {
                            "id": "hubHome",
                            "title": {
                              "dictionaryId": "dict.hub.televisionlabel"
                            }
                          },
                          {
                            "id": "hubMovies",
                            "title": {
                              "dictionaryId": "dict.hub.storelabel"
                            }
                          }
                        ],
                        "swimlaneConfig": {
                          "hubHome": {
                            "items": [
                              {
                                "railType": "swimlane16_9",
                                "title": {
                                  "dictionaryId": "dict.hub.recentlyWatched"
                                },
                                "contentType": "api",
                                "displayByEvent": true,
                                "contents": [
                                  {
                                    "url": "/channels/recent?currentChannelFirst=true",
                                    "tileCount": 10,
                                    "assetType": "linear"
                                  }
                                ]
                              },
                              {
                                "railType": "swimlane16_9",
                                "title": {
                                  "dictionaryId": "dict.hub.favorites"
                                },
                                "contentType": "api",
                                "contents": [
                                  {
                                    "url": "/channels?isFavourite=true",
                                    "tileCount": 15,
                                    "assetType": "linear"
                                  }
                                ]
                              },
                              {
                                "railType": "swimlane16_9",
                                "title": {
                                  "dictionaryId": "dict.hub.basicChannels"
                                },
                                "contentType": "api",
                                "contents": [
                                  {
                                    "url": "/channels?limit=13&carousel=true&genreId=Basic",
                                    "tileCount": 12,
                                    "displaySeeAll": true,
                                    "assetType": "linear"
                                  }
                                ]
                              },
                              {
                                "railType": "swimlane16_9",
                                "title": {
                                  "dictionaryId": "dict.hub.seriesChannels"
                                },
                                "contentType": "api",
                                "contents": [
                                  {
                                    "url": "/channels?limit=13&carousel=true&genreId=Series",
                                    "tileCount": 12,
                                    "displaySeeAll": true,
                                    "assetType": "linear"
                                  }
                                ]
                              },
                              {
                                "railType": "swimlane16_9",
                                "contentType": "classification",
                                "contents": [
                                  {
                                    "classification": "92166",
                                    "tileCount": 23,
                                    "seeAllSort": [
                                      "editorial",
                                      "title",
                                      "-date"
                                    ]
                                  }
                                ]
                              }
                            ]
                          },
                          "hubMovies": {
                            "items": [
                              {
                                "railType": "hero16_9",
                                "title": {
                                  "dictionaryId": "dict.hub.storelabel.next2see"
                                },
                                "contentType": "api",
                                "contents": [
                                  {
                                    "url": "/agg/library/recent?topLevelFilterTag=Movies&source=vod&limit=24",
                                    "tileCount": 24,
                                    "assetType": "vod"
                                  }
                                ]
                              },
                              {
                                "railType": "hero16_9",
                                "contentType": "classification",
                                "contents": [
                                  {
                                    "classification": "42202",
                                    "tileCount": 23,
                                    "seeAllSort": [
                                      "editorial",
                                      "title",
                                      "-date"
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        },
                        "general": {
                          "defaultChannel": "CH34"
                        }
                      }
                    },
                    "dictionary": {
                      "languageCode": "eng",
                      "updateDate": "2000-01-31T22:00:00.000Z",
                      "languageMap": {
                        "dict.hub.storelabel.filterlabel": "VOD",
                        "dict.federatedActionMenu.playwith": "Play With",
                        "dict.hub.storelabel.filterlinklabel": "Full Catalog",
                        "dict.hub.storelabel.description": "See all",
                        "dict.hub.televisionlabel": "Television",
                        "dict.hub.homelabel": "HOME",
                        "dict.hub.showAllChannels": "All Channels",
                        "dict.hub.channellabel": "Channels",
                        "dict.hub.forYou": "For you",
                        "dict.hub.New": "New",
                        "dict.hub.recordings": "Recent Recordings",
                        "dict.hub.featured": "Featured",
                        "dict.hub.favorites": "Favorite Channels",
                        "dict.hub.becauseYouLike": "Because you like %s",
                        "dict.hub.becauseYouWatched": "Because you watched %s",
                        "dict.hub.watchAgain": "Watch Again",
                        "dict.hub.televisionlabel.filterlabel": "Live",
                        "dict.hub.televisionlabel.filterlinklabel": "TV GUIDE AND MORE",
                        "dict.hub.televisionlabel.description": "See all",
                        "dict.hub.mylibrary": "My Library",
                        "dict.hub.mydevicelibrary": "My Box Library",
                        "dict.hub.librarylabel": "Recordings",
                        "dict.hub.librarylabel.filterlabel": "Recordings",
                        "dict.hub.librarylabel.filterlinklabel": "Next To See",
                        "dict.hub.librarylabel.description": "See all",
                        "dict.hub.toplist": "Top List",
                        "dict.hub.tv.guide.allchannel": "All Channels",
                        "dict.hub.tv.guide.sportChannels": "Sports",
                        "dict.hub.tv.guide.moviesChannels": "Movies",
                        "dict.hub.tv.guide.favoriteChannels": "Favorite channels",
                        "dict.hub.tv.guide.entertainmentChannels": "Entertainment",
                        "dict.hub.tv.guide.kidsChannels": "Kids",
                        "dict.hub.tv.guide.newsChannels": "News",
                        "dict.hub.tv.guide.allchannel.info": "Next 14 Days Programs",
                        "dict.hub.tv.guide.sportChannels.info": "Next 14 Days Programs",
                        "dict.hub.tv.guide.moviesChannels.info": "Next 14 Days Programs",
                        "dict.hub.tv.guide.favoriteChannels.info": "Next 14 Days Programs",
                        "dict.hub.tv.guide.entertainmentChannels.info": "Next 14 Days Programs",
                        "dict.hub.tv.guide.kidsChannels.info": "Next 14 Days Programs",
                        "dict.hub.tv.guide.newsChannels.info": "Next 14 Days Programs",
                        "dict.hub.tv.guide.generalChannels": "General Channels",
                        "dict.hub.tv.guide.hdChannels": "HD Channels",
                        "dict.hub.tv.guide.publicChannels": "Public Channels",
                        "dict.hub.tv.guide.filmChannels": "Film Channels",
                        "dict.hub.tv.guide.childrenChannels": "Children Channels",
                        "dict.hub.tv.guide.musicChannels": "Music Channels",
                        "dict.hub.tv.guide.informationChannels": "Information Channels",
                        "dict.hub.tv.guide.familyMovieChannels": "Family Movie Channels",
                        "dict.hub.tv.guide.kidsMovieChannels": "Kids Movie Channels",
                        "dict.hub.tv.guide.documentaryChannels": "Documentary Channels",
                        "dict.hub.tv.guide.lifeStyleChannels": "Lifestyle Channels",
                        "dict.hub.tv.guide.newsBusinessChannels": "Business News Channels"
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "If the server supports http-caching for this API, this httpCode will be returned\nwhen the data has not changed and therefore will not be returned.\nThe assumption is that the client has also enabled http-caching, and has set the etag from\nthe previous request as the if-none-match value in the subsequent request.\n",
            "content": {}
          },
          "400": {
            "description": "The server was unable to process this request because a required parameter is either missing or malformed, or an invalid parameter combination was given.\n",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errors",
                    "id"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "An identifier for this error.  May be used by the client to determine exactly what the error was and the client may be able to take appropriate action.  Consult the specific APIs for the list of possible error codes."
                    },
                    "errors": {
                      "type": "array",
                      "description": "A list of one or more developer orientated error messages explaining detail about the error",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "Some API endpoint provide additional data to the client to understand or respond to the error.  The details of the data provided is specific to each API endpoint."
                    }
                  },
                  "description": "Schema for a Error response from the API",
                  "example": {
                    "id": "BAD_REQUEST",
                    "errors": [
                      "Some part of the request is missing or malformed"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find this endpoint.  The client has formed a URL to a resouce that does not exist\n",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errors",
                    "id"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "An identifier for this error.  May be used by the client to determine exactly what the error was and the client may be able to take appropriate action.  Consult the specific APIs for the list of possible error codes."
                    },
                    "errors": {
                      "type": "array",
                      "description": "A list of one or more developer orientated error messages explaining detail about the error",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "Some API endpoint provide additional data to the client to understand or respond to the error.  The details of the data provided is specific to each API endpoint."
                    }
                  },
                  "description": "Schema for a Error response from the API",
                  "example": {
                    "id": "NOT_FOUND",
                    "errors": [
                      "The endpoint '/some/path' was not found"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error whilst dealing with this request.  The client should try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errors",
                    "id"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "An identifier for this error.  May be used by the client to determine exactly what the error was and the client may be able to take appropriate action.  Consult the specific APIs for the list of possible error codes."
                    },
                    "errors": {
                      "type": "array",
                      "description": "A list of one or more developer orientated error messages explaining detail about the error",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "Some API endpoint provide additional data to the client to understand or respond to the error.  The details of the data provided is specific to each API endpoint."
                    }
                  },
                  "description": "Schema for a Error response from the API",
                  "example": {
                    "id": "GENERAL_ERROR",
                    "errors": [
                      "Error in the server"
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/resources/initial": {
      "get": {
        "description": "Get personal and general information that is needed by the client for its boot sequence.\nRelevant only for Synamedia apps.\nThis shall be the first call that the application makes to the refAPI and it replaces the call to /resources/customization\nThe response may contain httpCookies which should then be passed to every subsequent refAPI invocation.\nTherefore all subsequent app-boot calls to ctap must be sent out only after the response to this call has been received.\n",
        "operationId": "GET_resources-initial",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Identifies the requested response language. This should be an ISO 639-1 two letter code. Subcodes (like en-GB) are aslo supported.\nGive this header in GET methods where the response can be returned in different natural languages.\nnote: if the x-response-lang header is also given, its value will take precedence over the value of this header.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "x-response-lang",
            "in": "header",
            "description": "Identifies the requested response language. This should be an ISO 639-1 two letter code. Subcodes (like en-GB) are aslo supported.\nGive this header in GET methods where the response can be returned in different natural languages.\nThis header is supported in addtion to the standard 'Accept-Language' header. If both are given, the value in this header will be used.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "isByoux",
            "in": "query",
            "description": "If BYOUX clients want to use the resources/initial API in order to fetch much of the data that is required during client boot in a single call they must supply this queryParam with the value true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "household",
                    "platform",
                    "tokens"
                  ],
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "string",
                      "description": "client token for shared APIs"
                    },
                    "authorization": {
                      "type": "string"
                    },
                    "platform": {
                      "type": "object",
                      "properties": {},
                      "description": "platform related data"
                    },
                    "household": {
                      "type": "object",
                      "properties": {
                        "userProfileSettings": {
                          "type": "string",
                          "description": "Data which can also be retrieved using /userProfiles/me/settings API"
                        },
                        "householdData": {
                          "type": "string",
                          "description": "Data which can also be retrieved using /household/me API"
                        },
                        "deviceData": {
                          "type": "string",
                          "description": "Data which can also be retrieved using the /devices/me or the /household/me/devices/me API"
                        }
                      },
                      "description": "household related data"
                    }
                  },
                  "description": "Schema for /resources/initial",
                  "example": {
                    "tokens": {
                      "clientToken": "abc123"
                    },
                    "authorization": {
                      "apiCache": {
                        "url": "https://d3j35dxplamnfc.cloudfront.net/ctap/r1.6.0/shared/apiCache/authorization?type=cloudfront&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9kM2ozNWR4cGxhbW5mYy5jbG91ZGZyb250Lm5ldC9jdGFwL3I~Lj8uPy9zaGFyZWQvKiIsIkNvbmRpdGlvbiI6eyJEYXRlTGVzc1RoYW4iOnsiQVdTOkVwb2NoVGltZSI6MTYxMTU3MTIxMjYyM319fV19&Key-Pair-Id=K2XFS45Y2C2HKQ&Signature=Mry2STOhxOhKN8H69mMzad0WuZ98mFmiqdcIvjfuIBvxL8Tv8Q-9OQmE7v6gickM52RbvWlPaQh~N4LMKw7VqSgmddHspxCkvBtUDSiKyBAaO6j1J7p3xjcEbIMRsvRiBuR0i~Br9vdRVB3TG-He6hQdOEKLkIWQrAJzHsklwBzTUEDbHPYpu2mhcPFxRGtxaxp8fBgR2Xyv~WHvX78dvr5QW0PxU~tOyWSsarWPAwqlxMPoHY0Ff2eQBaTMLOs~xotdpdMDkU2kRZUzLLTJpppZlE5IGl0MWi0VGT8Lba--ebzTrRKclqGxr9M6hp2EK7nf5hkt9FYcJofNab21IQ__"
                      }
                    },
                    "platform": {
                      "avatars": [
                        {
                          "avatarId": "avatar~0",
                          "friendlyName": "myAvatar",
                          "media": [
                            {
                              "type": "focus",
                              "width": 30,
                              "height": 60,
                              "url": "http://myavatar0_small.jpg",
                              "mimeType": "image/png"
                            },
                            {
                              "type": "unfocus",
                              "width": 60,
                              "height": 120,
                              "url": "http://myavatar0_big.jpg",
                              "mimeType": "image/png"
                            }
                          ]
                        },
                        {
                          "avatarId": "avatar~1",
                          "media": [
                            {
                              "width": 30,
                              "height": 60,
                              "url": "http://myavatar1_small.jpg",
                              "mimeType": "image/png"
                            },
                            {
                              "width": 60,
                              "height": 120,
                              "url": "http://myavatar1_big.jpg",
                              "mimeType": "image/png"
                            }
                          ]
                        }
                      ],
                      "parentalPinPolicies": {
                        "thresholdsOptions": [
                          {
                            "category": "OFF",
                            "maxRating": 30
                          },
                          {
                            "category": "YOUNG_ADULT",
                            "maxRating": 17
                          },
                          {
                            "category": "TEEN",
                            "maxRating": 13
                          },
                          {
                            "category": "CHILDREN",
                            "maxRating": 7
                          }
                        ]
                      },
                      "audioLangs": [
                        "eng",
                        "fre"
                      ],
                      "documents": [
                        {
                          "type": "TermsAndConditions",
                          "title": "Terms and Conditions",
                          "uri": "https://TermsAndConditions.com/TNC",
                          "media": [
                            {
                              "mimeType": "image/jpeg",
                              "url": "TnCLogo.jpg",
                              "height": 300,
                              "width": 200
                            }
                          ]
                        },
                        {
                          "type": "CancellationRights",
                          "title": "Cancellation Rights",
                          "uri": "https://Cancellation.com/Cancel"
                        }
                      ],
                      "ages": [
                        {
                          "maxAge": 6,
                          "displayString": "Babies",
                          "description": "For ages between 0-6"
                        },
                        {
                          "maxAge": 12,
                          "displayString": "Kids",
                          "description": "For ages between 7-12"
                        },
                        {
                          "maxAge": 17,
                          "displayString": "Teens",
                          "description": "For ages between 13-17"
                        },
                        {
                          "maxAge": 120,
                          "displayString": "Adults",
                          "description": "For ages 18 & up"
                        }
                      ],
                      "sharedCategoriesSupported": true
                    },
                    "household": {
                      "householdData": {
                        "id": "cgw-dev",
                        "firstName": "John",
                        "lastName": "Smith",
                        "auxHouseholdId": "cgw-dev-1234",
                        "accountId": "1234",
                        "community": "VGW_KD_V3",
                        "userProfileQuota": 10,
                        "householdOptions": [
                          "CDVR"
                        ],
                        "lastAuthorizationDate": "2015-09-20T00:00:00.000Z"
                      },
                      "userProfileSettings": {
                        "uiLanguage": "eng",
                        "audioLanguage": "eng",
                        "subtitlesLanguage": "eng",
                        "presentSubtitles": false,
                        "parentalRatingThreshold": 10,
                        "clockFormat": "24H",
                        "presentClosedCaptions": true,
                        "closedCaptionsTrack": "cc1",
                        "displayName": "Elza",
                        "maxAge": 12,
                        "isDefault": false,
                        "avatarId": "avatar~1",
                        "filterSDChannels": true,
                        "filterUnEntitledChannels": false
                      },
                      "deviceData": {
                        "id": "1",
                        "type": "COMPANION",
                        "settings": {
                          "displayName": "UND"
                        },
                        "drmType": "VGDRM",
                        "registeredDateTime": "2020-05-24T11:53:41.000Z",
                        "deviceFeatures": [],
                        "activeUserProfile": "panda_HH_0"
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "If the server supports http-caching for this API, this httpCode will be returned\nwhen the data has not changed and therefore will not be returned.\nThe assumption is that the client has also enabled http-caching, and has set the etag from\nthe previous request as the if-none-match value in the subsequent request.\n",
            "content": {}
          },
          "400": {
            "description": "The server was unable to process this request because a required parameter is either missing or malformed, or an invalid parameter combination was given.\n",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errors",
                    "id"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "An identifier for this error.  May be used by the client to determine exactly what the error was and the client may be able to take appropriate action.  Consult the specific APIs for the list of possible error codes."
                    },
                    "errors": {
                      "type": "array",
                      "description": "A list of one or more developer orientated error messages explaining detail about the error",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "Some API endpoint provide additional data to the client to understand or respond to the error.  The details of the data provided is specific to each API endpoint."
                    }
                  },
                  "description": "Schema for a Error response from the API",
                  "example": {
                    "id": "BAD_REQUEST",
                    "errors": [
                      "Some part of the request is missing or malformed"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find this endpoint.  The client has formed a URL to a resouce that does not exist\n",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errors",
                    "id"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "An identifier for this error.  May be used by the client to determine exactly what the error was and the client may be able to take appropriate action.  Consult the specific APIs for the list of possible error codes."
                    },
                    "errors": {
                      "type": "array",
                      "description": "A list of one or more developer orientated error messages explaining detail about the error",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "Some API endpoint provide additional data to the client to understand or respond to the error.  The details of the data provided is specific to each API endpoint."
                    }
                  },
                  "description": "Schema for a Error response from the API",
                  "example": {
                    "id": "NOT_FOUND",
                    "errors": [
                      "The endpoint '/some/path' was not found"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error whilst dealing with this request.  The client should try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errors",
                    "id"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "An identifier for this error.  May be used by the client to determine exactly what the error was and the client may be able to take appropriate action.  Consult the specific APIs for the list of possible error codes."
                    },
                    "errors": {
                      "type": "array",
                      "description": "A list of one or more developer orientated error messages explaining detail about the error",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "Some API endpoint provide additional data to the client to understand or respond to the error.  The details of the data provided is specific to each API endpoint."
                    }
                  },
                  "description": "Schema for a Error response from the API",
                  "example": {
                    "id": "GENERAL_ERROR",
                    "errors": [
                      "Error in the server"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agg/grid": {
      "get": {
        "description": "Get a list of channels with their events.\nThis API can be used to get either current/future events or catchup events for the channels.\nCurrent/future and catchup events cannot be retrieved in the same call.\nIn order to fetch catchup events either the pastEventsLimit param or the catchupFilter flag (with the value 'onlyCatchup') should be used.\nIn order to fetch current/future events the eventsLimit param or the duration params should be used.\nIn order to fetch only channels without events, the GET /channels API should be used.\n",
        "operationId": "GET_agg-grid",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Identifies the requested response language. This should be an ISO 639-1 two letter code. Subcodes (like en-GB) are aslo supported.\nGive this header in GET methods where the response can be returned in different natural languages.\nnote: if the x-response-lang header is also given, its value will take precedence over the value of this header.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "x-response-lang",
            "in": "header",
            "description": "Identifies the requested response language. This should be an ISO 639-1 two letter code. Subcodes (like en-GB) are aslo supported.\nGive this header in GET methods where the response can be returned in different natural languages.\nThis header is supported in addtion to the standard 'Accept-Language' header. If both are given, the value in this header will be used.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "scheduleOnly",
            "in": "query",
            "description": "When set to true the response doesn't include any channel properties except of channel id. The parameter is handled starting from API version 1.6.0",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of entries to return in the response list.\n",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "isPlayable",
            "in": "query",
            "description": "Filter for channels which are consumable in the current device (i.e. the channel's format is playable on the device). If this filter false or not given, both playable and non playable channels are returned. If true, return only playable channels.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "isEntitled",
            "in": "query",
            "description": "Filter for channels which the household associated to this device is entitled to. If this filter is false or not given, return entitled and not entitled channels. If true, return only entitled channels.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "startDateTime",
            "in": "query",
            "description": "ISO 8601 compliant UTC date time, defining the start of a time windowed reponse list.\nThis value is inclusive; entities starting earlier and ongoing at this time will be included in the response.\nShall be accompanied by one of `duration` XOR `eventsLimit` XOR `pastEventsLimit`.\nIf not provided, the system will use the current time.\nExample: \"2015-10-05T14:30Z\" is UTC 5th October 2105 2:30pm.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Duration in seconds, defining the end of a time windowed response list relative to `startTime`.\nShall not be supplied together with `eventsLimit`. If neither startDateTime nor duration are supplied, the default duration is 12 hours.\nExample: 9000 - 2hrs 30min duration.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eventsLimit",
            "in": "query",
            "description": "Number of events returned per channel relative to the specified startTime.\nThis parameter shall not be supplied together with `duration`.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pastEventsLimit",
            "in": "query",
            "description": "Number of past events returned per channel relative to the specified startTime.\nThis parameter will be used to fetch catchup events.\nShall not be supplied together with `duration`.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filterCurrentEvent",
            "in": "query",
            "description": "Filter out the currently playing live event.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "carousel",
            "in": "query",
            "description": "Flag indicating whether to loop back to the beginning of the response list upon reaching the end.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "__locator__; GUID of the channel that is used as the base location point of the offset in the response list.\nThis channel will be the first in the returned list.\nShall not be supplied together with any other locator, otherwise a 400 response will be returned.\nIf not provided, the system uses the first channel in the channel list for the client\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logicalChannelNumber",
            "in": "query",
            "description": "__locator__; Logical channel number of the channel (relevant for the calling device) that is used as the base location point of the offset in the response list.\nThis channel will be the first in the returned list.\nThis parameter should be used for direct channel access. Shall not be supplied together with any other locator, otherwise a 400 response will be returned.\ndefault is the first channel in the channel list for the client.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "genreId",
            "in": "query",
            "description": "Filter resources to those associated with the supplied genreId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catchupFilter",
            "in": "query",
            "description": "Filter catchup events.\n",
            "schema": {
              "type": "string",
              "enum": [
                "onlyCatchup"
              ]
            }
          },
          {
            "name": "isFavourite",
            "in": "query",
            "description": "Filter the channels based on them being in the favorite list. If this filter is false or not given, return favourite and non-favourite channels.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "radioFilter",
            "in": "query",
            "description": "Filter Radio channels. If not provided, radio channels are NOT included in the response.\nwithRadio -> Radio channels AND other channels (video) are provided in the response.\n",
            "schema": {
              "type": "string",
              "enum": [
                "withRadio"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting point relative to a location (specified by the locator, channelId or logicalChannelNumber parameter) where entries in the response list should be selected from.\nLimited to 255 to prevent long running queries on the implementation.\nClients should get results to obtain a new locator, channelId or logicalChannelNumber (depending on API) to page further through the list.\n",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Schema for list of channels with events",
                  "example": {
                    "count": 3,
                    "total": 204,
                    "channels": [
                      {
                        "name": "Program 70",
                        "logicalChannelNumber": 1,
                        "id": "CHID_1",
                        "isFavorite": true,
                        "isPlayable": true,
                        "videoFormat": "hd",
                        "media": [
                          {
                            "type": "regular",
                            "mimeType": "image/svg+xml",
                            "url": "http://phx-media-server.phx.cisco.com/LogoSvgInv/twenty_two.svg"
                          },
                          {
                            "type": "inverted",
                            "mimeType": "image/svg+xml",
                            "url": "http://phx-media-server.phx.cisco.com/LogoSvgReg/twenty_two.svg"
                          }
                        ],
                        "schedule": [
                          {
                            "id": "IID_34234141",
                            "resource": "asset",
                            "source": "ltv",
                            "startDateTime": "2015-10-05T14:30:00.000Z",
                            "contentType": "standalone",
                            "title": "U0312S22E025:Name:En",
                            "duration": 1800,
                            "media": [
                              {
                                "type": "small",
                                "mimeType": "image/jpeg",
                                "url": "http://phx-media-server.phx.cisco.com/LTVposters/poster025_eng.jpg",
                                "height": 135,
                                "width": 240
                              },
                              {
                                "type": "large",
                                "mimeType": "image/jpeg",
                                "url": "http://phx-media-server.phx.cisco.com/LTVposters/sposter025_eng.jpg",
                                "height": 135,
                                "width": 240
                              }
                            ],
                            "synopsis": "This is a short synopsis."
                          }
                        ]
                      },
                      {
                        "name": "HBO 2",
                        "logicalChannelNumber": 2,
                        "id": "CHID_2",
                        "isFavorite": true,
                        "isPlayable": true,
                        "videoFormat": "hd",
                        "media": [
                          {
                            "type": "inverted",
                            "mimeType": "image/svg+xml",
                            "url": "http://phx-media-server.phx.cisco.com/LogoSvgReg/three_hd.svg"
                          },
                          {
                            "type": "regular",
                            "mimeType": "image/svg+xml",
[...]
